/* Contact CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info p {
    font-size: 1rem;
    color: #555;
}

.contact-info a {
    color: #D4A24C;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #333;
}

.social-icons a:hover {
    color: #D4A24C;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

form input:focus, form textarea:focus {
    border-color: #D4A24C;
}

form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #D4A24C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #D4A24C;
}

form button:active {
    background-color: #eb9c13;
}

/* Style pour les messages de résultat */
.result-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #28a745; /* Vert pour succès */
}

.error-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #dc3545; /* Rouge pour erreur */
}

